<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    {{{sans}}}
  </head>
  <body>
    <h2 id="pageQ">{{page}}</h2>
    <h1 id="titleQ">{{title}}</h1>
    <img id="logoQ" src="/Screenshot 2025-01-21 184013.png" alt="logo" />
    <a id="aboutLQ" href="/about">about</a>
    <a id="helpLQ" href="/help">help</a>
    <a id="loginLQ" href="/register">login</a>
    <div class="respQ">{{response}}</div>
    <form autocomplete="off" id="formQ" action="/question" method="POST">
      <input
        type="text"
        placeholder="Ask the genie..."
        id="quest"
        name="question"
      /></form>

  </body>
</html>